<<<<<<< HEAD
LOGIN PAGE BODY
||||||| merged common ancestors
=======
  <section>
    <p>login</p>
    <input type="text" name="login" value="empty">
    <p>password</p>
    <input type="password" name="loginPw" value="empty">
    <button type="submit" name="button">login</button>
  </section>
  <p>or</p>
  <button type="submit" name="button">Sign Up</button>
>>>>>>> master
