<h1>Welcome {{userInfo.username}}</h1>

<h2>Accounts</h2>
<ul>
  <li>USD: {{userInfo.usd}}</li>
  <li>BTC: {{userInfo.btc}}</li>
  <li>ETH: {{userInfo.eth}}</li>
</ul>

<h2>Total value of assets</h2>
<ul>
  <li>TODO</li>
</ul>
