<section>
  <h1>sign Up</h1>
  <p>Create Username</p>
  <input type="text" name="createUsername" value="">
  <p>create password</p>
  <input type="password" name="usernamePw" value="">
  <p>confirm password</p>
  <input type="password" name="confirmPw" value="">
  <button type="submit" name="submit">submit</button>
</section>
