<!-- Trading screen BODY -->

<input  list="currency">
  <datalist id="currency">
    <option value="USD"></option>
    <option value="ETH"></option>
    <option value="BTC"></option>
  </datalist>
</input>

<input  list="currency">
  <datalist id="currency">
    <option value="USD"></option>
    <option value="ETH"></option>
    <option value="BTC"></option>
  </datalist>
</input>



<input type="number" min="0">

<button type="submit" id="exchangeBTN"> Exchange</button>
